
%div#content
  %a{:href => '/'}
    %img{:src =>'/images/tmp.png'}
  
  %h1 Josey Baker Bread
  
  %div#sidebar
    %ul#nav
      %li Twitter
      %li Blog
      %li LinkedIn
      %li Store
      %li Calendar

    
  
  %div#feeds  
    %ul
      %li 
        %em Monday, May 2, 2011
        %h4 people are putting bacon in everything
        %div there's bacon donuts, bacon muffins, bacon coffee, bacon salt...

        and now, emmer-effers, there's bacon bread.

        and not just bacon bread mind you, MAPLE BACON LEVAIN.
        
        holy effing crap josey baker, you are one wild S O B! where o where can i get this wacky and delicious sounding creation of yours?!?
      %li 
        %em Thursday, April 28, 2011
        %h4 a tearful goodbye & a proud new beginning
        %div another chapter comes to a close my friends - the evenings of both liquid and solid bread at Amnesia are no more. i'll be shifting my shift to one night earlier in the week (mother effing free bluegrass monday night sucka what?!?) and hence, shall no longer be slangin my breads outta the lovely little red room.


