%div#content
  %ul#result
  %h1 Conversations
  %div#twitter  
    %form{:id=>"message",:action => "https://chemphill:win34m3@convore.com/api/topics/21084/messages/create.json", :method=>"post"}
      %input{:name=>"message", :value=>""}
      %input{:type=>"submit", :value=>"foo"}


