#header
  %div.box
    #logo
      %a{:href=>"#", :title=>"LiveWire Beta", :style=>"font-size: 32px; color: #fff;"} LiveWire
%div.hrline


#homefolio
  %div.box
    #portfolio-filter
      %ul
        %li
          %a{:href=>"#all"} All
        %li
          %a{:href=>"#ads"} Foodie
        %li
          %a{:href=>"#flowers"} Tennis
        %li
          %a{:href=>"#illustration"} Graduate Program
        %li
          %a{:href=>"#photos"} Cars
        %li
          %a{:href=>"#posters"} Climbing

%div{:style=>"clear: both;"}

%div.boxwide
  %ul#portfolio-list.infolio
    %li.indexpostsmall
      %a{:href => '/conversations/user'}
        %img.bags{:src=>"http://wpdemo.dannci.com/preview/02/wp-content/themes/Echo/js/timthumb.php?src=http://wpdemo.dannci.com/preview/02/wp-content/uploads/2011/04/carson.png&w=200&h=110&q=95&zc=1"}
    %li.indexpostsmall
      %a{:href => '/conversations/user'}
        %img.bags{:src=>"http://wpdemo.dannci.com/preview/02/wp-content/themes/Echo/js/timthumb.php?src=http://wpdemo.dannci.com/preview/02/wp-content/uploads/2011/04/carson02.png&w=200&h=110&q=95&amp;zc=1"}
    %li.indexpostsmall
      %a{:href => '/conversations/user'}
        %img.bags{:src=>"http://wpdemo.dannci.com/preview/02/wp-content/themes/Echo/js/timthumb.php?src=http://wpdemo.dannci.com/preview/02/wp-content/uploads/2011/04/www.flickr.com-2011-4-24-18-54-13.png&w=200&h=110&q=95&zc=1"}
    %li.indexpostsmall
      %a{:href => '/conversations/user'}
        %img.bags{:src=>"http://wpdemo.dannci.com/preview/02/wp-content/themes/Echo/js/timthumb.php?src=http://wpdemo.dannci.com/preview/02/wp-content/uploads/2011/04/www.flickr.com-2011-4-24-15-19-14.png&w=200&h=110&q=95&zc=1"}
    %li.indexpostsmall
      %a{:href => '/conversations/user'}
        %img.bags{:src=>"http://wpdemo.dannci.com/preview/02/wp-content/themes/Echo/js/timthumb.php?src=http://wpdemo.dannci.com/preview/02/wp-content/uploads/2011/04/carson.png&w=200&h=110&q=95&zc=1"}
    %li.indexpostsmall
      %a{:href => '/conversations/user'}
        %img.bags{:src=>"http://wpdemo.dannci.com/preview/02/wp-content/themes/Echo/js/timthumb.php?src=http://wpdemo.dannci.com/preview/02/wp-content/uploads/2011/04/carson02.png&w=200&h=110&q=95&amp;zc=1"}
    %li.indexpostsmall
      %a{:href => '/conversations/user'}
        %img.bags{:src=>"http://wpdemo.dannci.com/preview/02/wp-content/themes/Echo/js/timthumb.php?src=http://wpdemo.dannci.com/preview/02/wp-content/uploads/2011/04/www.flickr.com-2011-4-24-18-54-13.png&w=200&h=110&q=95&zc=1"}
    %li.indexpostsmall
      %a{:href => '/conversations/user'}
        %img.bags{:src=>"http://wpdemo.dannci.com/preview/02/wp-content/themes/Echo/js/timthumb.php?src=http://wpdemo.dannci.com/preview/02/wp-content/uploads/2011/04/www.flickr.com-2011-4-24-15-19-14.png&w=200&h=110&q=95&zc=1"}
    
  %div{:style=>"clear: both;"}

%div{:style=>"clear: both;"}


-#%div.heading
-#%div.box
-#  %h2.rad.bags User1234
-#

-##bottombox
-#	%div.box{:style=>" overflow:hidden;"}
-#  	<div class="speci"><img class="bags" src="http://wpdemo.dannci.com/preview/02/wp-content/uploads/2011/05/Untitled-1.png" alt="Beatheme" /></div>
-#    <div class="aboutus">But, by the best contradictory authorities, this Grecian story of Hercules and the whale is considered to be derived from the still more ancient Hebrew story of Jonah and the whale; and vice versa; certainly they are very similar. If I claim the demigod then, why not the prophet? Nor do heroes, saints, demigods, and prophets alone comprise the whole roll of our order. Our grand master is still to be named; for like royal kings of old times, we find the head waters of our fraternity in nothing short of the great gods themselves. But, by the best contradictory authorities, this Grecian story of Hercules and the whale is considered to be derived from the still more ancient Hebrew story.</div>
-#		<ul id="social-menu">
-#			<li class="socials_rs"><a href="http://feeds.feedburner.com/beatheme"><img alt="follow" src="http://wpdemo.dannci.com/preview/02/wp-content/themes/Echo/images/social_btn.gif" /></a></li>
-#			<li class="socials_tw"><a href="http://twitter.com/#!/dannci"><img alt="follow" src="http://wpdemo.dannci.com/preview/02/wp-content/themes/Echo/images/social_btn.gif" /></a></li>
-#			<li class="socials_fa"><a href="#"><img alt="follow" src="http://wpdemo.dannci.com/preview/02/wp-content/themes/Echo/images/social_btn.gif" /></a></li>
-#			<li class="socials_ai"><a href="#"><img alt="follow" src="http://wpdemo.dannci.com/preview/02/wp-content/themes/Echo/images/social_btn.gif" /></a></li>
-#			<li class="socials_la"><a href="#"><img alt="follow" src="http://wpdemo.dannci.com/preview/02/wp-content/themes/Echo/images/social_btn.gif" /></a></li>
-#			<li class="socials_de"><a href="http://dannci.deviantart.com/"><img alt="follow" src="http://wpdemo.dannci.com/preview/02/wp-content/themes/Echo/images/social_btn.gif" /></a></li>
-#			<li class="socials_tu"><a href="http://wpmasters.org/"><img alt="follow" src="http://wpdemo.dannci.com/preview/02/wp-content/themes/Echo/images/social_btn.gif" /></a></li>
-#			<li class="socials_vi"><a href="#"><img alt="follow" src="http://wpdemo.dannci.com/preview/02/wp-content/themes/Echo/images/social_btn.gif" /></a></li>
-#		</ul>
-#	</div>
-#</div>

%div{:style=>"clear: both;"}
%div.hrline

#footer
  %div.box
    %div.foowidget
      %h3 Covet
      %div.textwidget Covet is a dating site where you see what users do real time via their online presences.
    %div.foowidget
      %h3 Recent Updates
      %ul#recentcomments
        %li.recentcomments Organic sustainable lomo
        %li.recentcomments Cardigan messenger bag
        %li.recentcomments Butcher Thundercats tofu
        %li.recentcomments Wes Anderson
        %li.recentcomments Sustainable

    %div.foowidget
      %h3 New Users
      %ul
        %li American Apparel
        %li Pitchfork
        %li Williamsburg
        %li Keffiyeh

    %div.foowidget2
      %h3 Covet Twitter
      %div{:style=>"clear: both;"}
      %div{:class=>"lasttwit"}
        %div{:class=>"tweets"}

      :javascript
        jQuery(document).ready(function($) {
          $(".tweets").tweet({
            join_text: "auto",
            username: "chemphill",
            avatar_size: 0,
            count: 1,
            auto_join_text_default: "",
            auto_join_text_ed: "",
            auto_join_text_ing: "",
            auto_join_text_reply: "",
            auto_join_text_url: "",
            loading_text: "loading tweets..."
          });
        })
  %div{:style=>"clear: both;"}

  %div.box
    #copyright.fl
      %p &copy; 2011 Covet.
    #credit.fr
      %p See what's up




