= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js',
                         'http://xdoauthproxy.appspot.com/js/json2.js',
                         'http://xdoauthproxy.appspot.com/js/xd-oauth-client.js',
                         'http://wpdemo.dannci.com/preview/02/wp-content/themes/Echo/js/jquery.tweet.js',
                         'conversations.js'                         